<form action="/resto/createnew/" method="post">
<table align="center" cellspacing="5" cellpadding="5">
       <tr><td colspan="2" align="center"><h3>Add Restaurant</h3>
       </td></tr>
       
       <tr>
                <td><label>Name</label></td>
                <td><input type="text" name="name1"></td>
        </tr>
        <tr>
                <td><label>Address</label></td>
                <td><input type="text" name="add1"></td>
        
        </tr>

       <tr><td colspan="2" align="center"><input type="submit" value="Add"></td></tr>
</table>
</form>
